.gradle/
build/
dist/
.classpath
.project
.settings/
*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
gradle-*.zip
gradle-*/
local.properties
.DS_Store
*.swp
*.swo
*~
.idea/
*.iml
out/
.vscode/
*.apk
target/
